body {
  margin: 0;
  padding: 0;
  background: #026670;
  font-family: "Ubuntu";
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 30px auto;
  columns: 4;
  column-gap: 40px;
}

.card {
  break-inside: avoid;
  width: 100%;
  margin: 0 0 30px;
  padding: 10px;
  box-shadow: 0 5px 10px;
  border-radius: 20px;
  background: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.5 ease;
}

.card-text {
  color: #026670;
}

img {
  max-width: 100%;
  border-radius: 20px;
}

h3 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 20px;
}

p {
  margin: 0;
  padding: 0 0 10px;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #f9ca1f;
}

.container .card:hover {
  box-shadow: 0 10px 30px;
  background: linear-gradient(#94ebd2, white);
}

@media (max-width: 1200px) {
  .container {
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 1;
  }
}
